<div class="container">
<ul style="list-style:none">


  <li style="float:left"><a class="btn btn-primary" href ="/reg">Student Registration</a></li>
  <li style="float:left"><a class="btn btn-danger"  href ="">Student Dashboard</a></li>
</ul>
</div>



<!-- <div class="container  bg-primary" style="text-align:center" >

 <h1>Student Registration Form</h1>

</div> --> 

<!-- <app-studentreg-form></app-studentreg-form> -->

<!-- <app-student-dashboard></app-student-dashboard> -->

<router-outlet></router-outlet>