
<div class="jumbotron">
    <table class="bg-muted table table-bordered table-striped table-hover">
    <thead>
        <tr> 
            <th style="text-align: center;background-color: gray;color:white"
             colspan="7"> Students Registration Details </th>
        </tr>
        <tr>
            <th> Student Name </th>
            <th> Student Email </th>
            <th> Student Age </th>
            <th> Student Graduate </th>
            <th> Student Branch </th>
            <th>Edit Student Data</th>
            <th>Delete Student Data</th>
        </tr>   
    </thead>
    <tbody>
        <tr *ngFor = "let s of student">
            <td>{{s.student_name}}</td>
            <td>{{s.student_email}}</td>
            <td>{{s.student_age}}</td>
            <td><input type="checkbox" 
                [checked] = "s.student_isGraduate" disabled />
            </td>
            <td>branch</td>
          <td><a class="btn btn-info" [routerLink]="['/update',s.id]">Edit Data</a></td>
            <td><a class="btn btn-danger" (click) = "delete(s.id)" >Delete Data</a></td>
        </tr>
    </tbody>
</table>

</div>